//border
$border-1: solid 1px #bf5a6c;
$border-2: solid 1px #344973;

$background-color-1: #bf5a6c;
$background-color-2: #f2dfce;
$background-color-3: #344973;
$background-color-4: #caeaf5;
$background-color-5: #fff;
$background-color-6: #0a1326;
$background-color-8: #f2f2f2;

$font-color-1: #132240;
$font-color-2: #344973;
$font-color-3: #bf5a6c;
$font-color-4: #f25c5c;
$font-color-5: #91b2f2;
