/* You can add global styles to this file, and also import other style files */
@use "ngx-toastr/toastr" as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-size: 20px;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
img {
  max-width: 100%;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}
